@charset "utf-8";

* { outline:none; }

body,

.main,

.clr,

.header,

.content,

.prefooter,

.footer,

form,

ol,

ol li,

ul { margin:0; padding:0; }

ol,

ul,

li { list-style:none; }

body { width:100%;}

body,input,textarea {font:normal 12px/1.8em "Liberation sans", Arial, Helvetica, sans-serif; color:#949494; }

img { border:none; }

.clr { clear:both; padding:0; margin:0; width:100%; font-size:0; line-height:0; }

.fl { float:left; }

.fr { float:right; }

.tal { text-align:left; }

.tar { text-align:right; }

.tac { text-align:center; }

hr { border:1px solid #c8c8c8; margin:30px 0; }



.separator { clear:both; margin:25px auto; padding:0px 0 0px 0; width:100%; height:5px; background:url(../images/sep.png) repeat-x top left; }

.separator.small { margin:15px auto 15px;}

.separator_clear { clear:both; margin:20px auto; padding:0; width:100%; height:2px; }

.separator_clear.small { margin:10px auto;}



/*MAIN BACKGROUNDS*/

.body_pattern { background:#eeeeee url(../images/bg_35.jpg) repeat top left !important;}



.main { margin:0 auto; padding:0; width:100%; position:relative; background:url(../images/main_bg2.png) repeat-x top center; }

.index_page .main {background:url(../images/main_bg.png) repeat-x top center;}



#page { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); overflow: hidden; position: relative; width: 100%; }

a { color:#f66a37; font-weight:normal; text-decoration:none; }

p { margin:0; padding:0 0 10px; }



h1 { margin:0; padding:00px 0 0 0px; font-weight:normal; font-size:30px;   line-height:1em; color:#5b5b5b; text-transform:none; text-align:left; font-style:normal; }

h1 a { color:#5b5b5b; text-decoration:none; }

h1 span { color:#bbbbbb; font-size:12px; font-style:normal; font-weight:normal; line-height:1.8em;  text-transform:none;  display:block; margin-top:3px;  }

h1 a:hover { text-decoration:none; }



.index_page h1 {text-align:left;}



/*post_titles*/

h2 { margin:15px 0 20px 0; padding:0 0 0 0; font-size:18px; font-weight:normal; color:#646464; text-align:left; text-transform:none; font-style:normal;}

h2 span,h2 a span { color:#646464; }

h2 a,h2 a span { color:#646464;  }

h2 a:hover,h2 a:hover span { color:#f66a37; }





/*.h2_background  {margin:0px; padding:2px 0 2px; width:100%;}

.h2_background h2{background: url(../images/sep.png) repeat-x left; width:100%; padding-bottom:0px;  margin:10px 0 20px; font-style:normal;}

.h2_background h2 span{ text-align:left; margin:0 auto; padding:0 25px; background:#ffffff;  }

*/



em.first_color { font-style:normal;}

em.second_color {color:#949494; font-style:normal;}

a:hover em.second_color {color:#f66a37;}



/*images titles etc,...*/

h3 {  font-size:14px; font-weight:normal; color:#4c4c4c; text-transform:none; line-height:1em;  text-align:left; }

h3 span { color:#989898; text-decoration:none; font-weight:normal; font-style:italic; margin:0; padding:0; font-size:10px; display:block; text-transform:none; padding:5px 0 0px; }

h3 a { color:#4c4c4c; text-decoration:none; font-weight:normal;  }

h3 a:hover { text-decoration:none; color:#f66a37; }

h3 span a:hover { text-decoration:none; color:#f66a37; }



/*h3.no_background {padding:0; text-align:left; background:none; margin:15px 0 15px; font-size:12px;}

h3.no_background a{padding:0; text-align:left; background:none;font-size:12px;}

*/



/* header */

.header { margin:0 auto 20px; padding:0; width:100%; }

.header_resize {  padding:0; }





.logo { padding: 25px 60px 0px 60px; font-size:36px;  line-height:1em; float:left; height:75px; width: auto; background:#f66a37;}

.logo div { margin:0 auto; padding:0 0 0; font-weight:normal;  text-transform:none; text-align:center;  }

.logo div a,

.logo div span,

.logo div a:hover { color:#fff; text-decoration:none; font-weight:bold;  font-style:italic;text-transform:none;  }

.logo p { padding:4px 0 1px 2px; margin:0; font-size:10px; line-height:1em;  color:#fff; font-weight:normal; font-style:normal; text-transform:uppercase;text-align:center;display:block;}







/*now_page*/

.now_page { margin:0px auto 0px; padding:0px 0 0px; border-bottom: 1px solid #EAEAEA;  width:100%; }

.now_page_resize { margin:0 auto; padding:35px 25px; text-align:left; width: auto;}





/*slider*/

#now_slider {margin:0 auto; padding:25px; width: auto; background:#fff; }



#slider { width:auto; padding:0; margin:00px auto 0px; }

#slider h1 { font: bold italic 30px "Liberation Sans", Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0; }





/*h2.h2_act_href { clear:both; padding-left:0; height:20px;margin-top:70px; }

h2.h2_act_href a span,h2.h2_act_href a{ color:#212121; text-decoration:none; font-weight:normal;}

h2.h2_act_href a:hover,h2.h2_act_href a:hover em.first_color{ color:#f66a37;}



h2.h2_act_href a.h2_href {padding:70px 0 15px 0px; }



h2.h2_act_href a.ico_1{background:url(../images/ico-01.png) no-repeat center top;}

h2.h2_act_href a.ico_2{background:url(../images/ico-02.png) no-repeat center top;}

h2.h2_act_href a.ico_3{background:url(../images/ico-03.png) no-repeat center top;}

h2.h2_act_href a.ico_4{background:url(../images/ico-04.png) no-repeat center top;}

h2.h2_act_href a.ico_1:hover{background:url(../images/ico_a-01.png) no-repeat center top;}

h2.h2_act_href a.ico_2:hover{background:url(../images/ico_a-02.png) no-repeat center top;}

h2.h2_act_href a.ico_3:hover{background:url(../images/ico_a-03.png) no-repeat center top;}

h2.h2_act_href a.ico_4:hover{background:url(../images/ico_a-04.png) no-repeat center top;}

*/







/* social */



.social { margin:25px 30px 20px 25px; padding:0px 0 3px 0px; float:left;  }

.social_text { padding:3px 6px 0px 0px; color:#5a5a5a; font-size:18px;text-align:center; width:130px; font-weight:normal; font-style:normal; display:none; }

.social1 { background:url(../images/social-01.png); }

.social2 { background:url(../images/social-02.png); }

.social3 { background:url(../images/social-03.png); }

.social4 { background:url(../images/social-04.png); }

.social5 { background:url(../images/social-05.png); }

.social6 { background:url(../images/social-06.png); }

.social7 { background:url(../images/social-07.png); }

.social8 { background:url(../images/social-08.html); }

.social9 { background:url(../images/social-09.html); }

.social10{ background:url(../images/social-10.html); }

.social11{ background:url(../images/social-11.html); }

.social1:hover { background:url(../images/social_a-01.png); }

.social2:hover { background:url(../images/social_a-02.png); }

.social3:hover { background:url(../images/social_a-03.png); }

.social4:hover { background:url(../images/social_a-04.png); }

.social5:hover { background:url(../images/social_a-05.png); }

.social6:hover { background:url(../images/social_a-06.png); }

.social7:hover { background:url(../images/social_a-07.png); }

.social8:hover { background:url(../images/social_a-08.html); }

.social9:hover { background:url(../images/social_a-09.html); }

.social10:hover{ background:url(../images/social_a-10.html); }

.social11:hover{ background:url(../images/social_a-11.html); }







.p404 h2{ font-size:50px; color:#f66a37;  text-align:center; margin:40px auto 0; line-height:1.2em;  background:none;}

.p404 h2 span{ font-size:36px;  color:#7D7D7D; text-align:center; margin:10px auto 0; line-height:1.2em; }

.p404 p,.p404 a{ font-size:24px; color:#B4B4B4; text-align:center; padding:80px 0 60px; line-height:1.2em; }

.p404 p span { font-size:24px; display:block; text-align:center; margin:20px auto; line-height:1.2em; }

.p404 h2,

.p404 .btn { margin-bottom:0; }

.p404 .content_box { margin-bottom:40px; }

/* Slider */



/* content */



.content { margin:00px auto 0; padding:0px 0px 0; width:100%;  }

.content.standart_margin {margin-bottom:20px;}

.content_resize { width: auto; padding:0px; position:relative; background:#fff; border:1px solid #c5c5c5; }



.h2_href_fr a span{color:#fff; font-size:10px; font-weight:normal; padding:3px 8px; background:#272727; text-transform:uppercase;}

.h2_href_fr a:hover span{background:#f04e38;}



.img_hover_box.pic a { display: block; position: relative; }

.img_hover_box.pic a img { margin:0; max-width: 100%; height: auto; }

.img_hover_box.pic a img.h { position: absolute; top: 0; left: 0; visibility:hidden; background:none; border:none; }

.img_hover_box.pic a:hover img.h { visibility:visible; }



.users_list_text {width: 274px; float:right; padding-top:10px;}





.backgr { background:#0b0b0b;}

.backgr:hover {background:#f66a37;}

.backgr h3 {padding:10px 15px; font-size:14px;}

.backgr h3 a span{ color:#999999; font-size:14px; font-style:normal;}

.backgr:hover h3 a span,.backgr:hover h3 a:hover span,.backgr:hover p{ color:#2d2d2d; }



/*4cols*/

.cols4 { margin:0 auto; width:100%; padding:0; text-align:left; }

.col4 { width: 19%; margin:0 0px 0 0; float:left; padding:28px; }

.col4.last { float:right; margin-right:0; }

.cols4 .img_hover_box.pic a { width: 100%; height: auto; }



.col4.padding_top {padding-top:40px;}

.cols_act {border-top:3px solid #ffffff; background:$fff; min-height:115px;}

.cols_act:hover {border-top:3px solid #f66a37;  background:#fafafa;}



.cols4.dark { background:#fafafa;}



/*3cols*/

.cols3 { margin:0px auto 0; width:100%; padding:0; text-align:left; }

.col3 { width: 29%; margin:0 32px 0 0; float:left; padding:0; }

.col3.nex { margin: 0px 38px 0 0; padding: 0px; width: 31; }

col3.nex.last { margin-right: 0px; }

.col3.big { width:286px; margin-right:20px;}

.col3 p { margin:0; padding:0; }

.col3.last { margin-right:0; }

.cols3 .img_hover_box.pic a { width: 100%; height: auto; }







/*2cols*/

.cols2 { margin:0px auto 0; width:100%; padding:0; text-align:left; }

.col2 { width: 100%; margin:0 0 0 0; padding:0;}

.col2.last { float:right; margin-right:0; padding:0; }

.cols2 .img_hover_box.pic a { width: 100%; height: auto;}



/*1cols*/

.cols1 {/* margin:0px auto 0; width:100%; padding:0; text-align:left; */}

.col1 {  margin:0 0 0 0; padding:0;}

.col1.last { float:left; margin-right:0; padding:0; }

.cols1 .img_hover_box.pic a { width: 100%; height:340px; }

.cols1 .img_hover_box.pic a img{ float:left; }



.cols_padding {padding:20px;}

.cols_padding2 { padding:10px 20px 5px 20px; text-align:center;}

.cols1 .cols_padding2 { padding:15px 20px 10px 20px; text-align:left;}



/*h3.bottom_border { padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #b7b7b7;}

h3.bottom_border:hover { border-bottom:1px solid #f66a37;}*/



/*blog_info*/

.blog_info { width:100%; margin:0 0 18px;}

.blog_info h3{margin-top:0;}

.blog_info .date { float:left; width:52px; height:40px; color:#232323; font-size:18px; text-align:center; margin:5px 20px 30px 0; background:#f2f2f2; padding:6px 0 0;}

.post .blog_info .date {margin-bottom:10px;}

.blog_info .date span { width:100%; display:block; margin-top:6px; text-transform: uppercase; background:#727272; color:#fff; font-size:12px;}



.content_box { padding: 30px 30px 0px 30px;}

.content_box.gap { padding: 0 30px 0px 30px;}



.content_box.last { padding:0; margin-bottom:0px;  }

.content_box.padding {  }

.content_box.no_border{border-bottom:none;}



.content_full_size { width:100%; }

/*centercol*/

.centercol { width: 70%; float:left; padding:0; }

.centercol.last {float:right;}

/*sidebar*/

.sidebar {width: 30%; float:left; /*background:#fafafa;  */}

.sidebar.last { float:right; }

/*.sidebar h2 { margin-top:0; padding-top:0;  }*/

.sidebar_flickr,

.sidebar_text,

.sidebar_testom,

.sidebar_twit,

.sidebar_recent { margin:0px; padding:25px 0; border-bottom:1px solid #EAEAEA; }

.sidebar_recent a {/*font-size:11px; font-style:italic; display:block;*/}

.sidebar_twit p { padding:0 0 10px 30px ; background:url(../images/twitter_li.html) no-repeat top left; }

.sidebar_twit a { display:block;  color:#a4a4a4; font-size:11px; font-style:italic; }

.sidebar_rec {margin-bottom:20px; }

.sidebar_rec img {float:left; margin:0 5px 5px 0; }

.sidebar_rec p { padding:0px 0 00px; }

.sidebar_rec a { display:block; font-style:normal; text-decoration:none; text-decoration:none; }

.sidebar_rec span { display:block; color:#989898; font-style:normal; font-size:11px;  }





.sidebar h2 ,

.sidebar h3 ,

.sidebar p { padding-left:25px; padding-right:25px;}

.sidebar img{ padding-left:25px; padding-right:25px; }



.sidebar_testom p {font-style:italic;}

.sidebar_testom h3 {margin-left:25px; padding-top:4px; padding-left:35px; background:url(../images/quote.png) no-repeat left top;}





div.h3_act_href p {width:160px; float:right;}

div.h3_act_href h3 { clear:both; width:100%; text-align:left; display:block; background:none; }

h3.h3_act_href a span,h3.h3_act_href a{ color:#4c4c4c; text-decoration:none; font-weight:normal;}

h3.h3_act_href a:hover span,h3.h3_act_href a:hover{color:#f66a37; text-decoration:none;}



div.h3_act_href a.h3_href {padding:0px 0 10px 50px;}



div.h3_act_href.ico_1 {background:url(../images/ico-01.html) no-repeat left;}

div.h3_act_href.ico_2 {background:url(../images/ico-02.html) no-repeat left;}

div.h3_act_href.ico_3 {background:url(../images/ico-03.html) no-repeat left;}

div.h3_act_href.ico_4 {background:url(../images/ico-04.html) no-repeat left;}

div.h3_act_href.ico_1:hover{background:url(../images/ico_a-01.html) no-repeat left;}

div.h3_act_href.ico_2:hover{background:url(../images/ico_a-02.html) no-repeat left;}

div.h3_act_href.ico_3:hover{background:url(../images/ico_a-03.html) no-repeat left;}

div.h3_act_href.ico_4:hover{background:url(../images/ico_a-04.html) no-repeat left;}







/*columns*/

.columns { margin:00px auto 00px; padding:0; width:100%; }

.columns.backgr1 {background:url(../images/columns_bg.png) repeat-y top left;}

.columns.backgr2 {background:url(../images/columns2_bg.png) repeat-y top left;}

.users_list { margin:0 auto; }

.users_list img { float:left; margin:5px auto; }

.users_list p,

.users_list h3 { float:right; width:80%; margin:5px 0 5px; padding:0; }



a.more { color:#8b8b8e; font-weight: normal; text-decoration: none; }





.post .pic { margin:0 0 20px; }

.post_detail { color:#a4a4a4; font-style:normal; padding:0; font-size:11px; font-weight:normal; margin:0px 0 10px 0; }

.post_detail a { font-size:11px; color:#a4a4a4; font-weight:normal; font-style:normal; text-decoration:none; }

.post_detail a:hover { font-size:11px; color:#a4a4a4; text-decoration:none; }

.post_date {  color:#fff; font-style:normal; font-weight:normal; font-size:18px; float:left; text-align:center; padding:8px 15px; background:#f66a37; border-top:3px solid #353535; margin:0 20px 20px 0; display:none;}

.post_date span { color:#fff; font-style:normal; font-weight:normal; font-size:12px; display:block; margin-top:5px; padding:5px 3px 0; text-align:center; border-top:1px solid #fff; }





.post_detail a.read_more:hover { color:#f66a37; font-style:normal; font-weight:normal; }

/*pagination*/

.pagination { margin:0; float:none; padding:10px 10px 00px 0; width:100%; text-align:left; font-weight:normal; }

.pagination a { padding:5px 8px; color:#939393; font-weight:normal; text-decoration:none; background:none; border:transparent; }

.pagination a:hover { padding:5px 8px; text-decoration:none; background:#222222; color:#939393; border:transparent; }

.pagination span.current_page { padding:5px 8px; color:#fff; background:#f66a37; border:transparent; }

.pagination span.count_pages { margin-left:11px; padding:5px 8px 5px 8px; background:#222222; color:#939393; border:transparent; }

/*navigation*/

.navigation { margin:0 auto 20px; padding:8px 0 10px 0; width:900px; }

.navigation a { padding:2px 4px; color:#656563; font-size:11px; text-decoration:none; font-weight:normal; }

.navigation a:hover { color:#656566; }

.navigation span.current { color:#656566; padding:0; font-size:11px; }

.navigation span.text { color:#c3c3c3; padding:0; font-size:12px; }

/*sub_page_contact*/



/*form Contact_us*/

#contactform_main { margin:0; padding:5px 0; }

#contactform_main * { color:#8b8b8e; }

#contactform_main ol { margin:0; padding:0; list-style:none; }

#contactform_main li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }

#contactform_main li.buttons { margin:5px 0 5px 0; clear:both; }

#contactform_main label { margin:0; width:60px; padding:6px 0; text-transform:none; float:left; font-weight:normal; color:#8b8b8b; }

#contactform_main label .ness { color:#656566; }

#contactform_main label span { color:#8b8b8b; }

#contactform_main input.text { width: 60%; border:1px solid #d3d3d3; margin:5px 0; padding:5px 2px; height:16px; background:#ffffff; float:left; font-size:12px; color:#8b8b8e; }

#contactform_main textarea { width: 70%; border:1px solid #d3d3d3; margin:4px 0; padding:5px 2px; background:#ffffff; float:left; font-size:12px; color:#8b8b8e; }

#contactform_main li.buttons input { padding:0 0 3px 0; margin:10px 0 0 60px; border:0; color:#FFF; float:left; }

#coment img { width: auto; }

#coment2 img { width: auto; }

#coment3 img { width: auto; }













/* prefooter */

.prefooter { margin:-60px auto 0; padding:60px 0px 10px; width:100%; background:url(../images/prefooter_bg.png) repeat top left; border-top:1px solid #2f2f2f;}

.prefooter_resize { padding-top: 22px; width: 100%; }

.prefooter_resize h2 {  }

.prefooter_resize h2 span {  }

.prefooter .fcol { margin:0 0 0 0; float:left; width: 100%; padding:0; }

.prefooter .fcol p { color:#b5b5b5;}

/*.prefooter .fcol a { color:#f66a37;}*/

.prefooter .fcol.pop_posts p { padding:0 0 10px 0px ;}

.prefooter .fcol.pop_posts h3 { padding:0px 0 0px 0px ;}

.prefooter .fcol.pop_posts h3 span{padding-bottom: 0px ;}

.prefooter .fcol.twit a { font-style:italic; font-size:11px; font-weight:normal;  margin:0; padding:0; }

.prefooter .fcol.twit p {  /*margin:0 0 5px 0; padding:0 0 0 30px;   background:url(../images/twitter_li.png) no-repeat top left;*/}

.prefooter .fcol.twit p span{display:block; font-size:11px; color:#8d8d8d; margin:15px 0 5px;}

.prefooter .fcol.pop_posts img { float:left; margin:5px 20px 0 0; }

.prefooter .fcol.last { margin-right:0; float:right; }

.prefooter .fcol.client_says p {font-style:normal; padding:0 0 10px 0;}

.prefooter .fcol.pop_posts a span,

.prefooter .fcol.client_says a span{font-style:italic; color:#4fafd9;  font-size:11px; font-weight:normal; display:block; margin:0; padding:0;}





.prefooter h2 { margin-bottom:15px; margin-top:0;}

em.footer_h2_font{ font-style:normal; font-size:16px; color:#f1f1f1;}

em.footer_h3_font{ font-style:normal; font-size:14px; color:#eaeaea;}



.flickr a img { margin:2px 4px 0 0; /*padding:2px; background:#ffffff; border:1px solid #d5d5d5; */}

.flickr a img:hover {/* background:#ffde00;border:1px solid #ffde00; */}





/* footer */

.footer {margin:0 auto; padding:0px 0px; width:100%; background:url(../images/footer_bg.png) repeat-x top left; height:62px;  }

.footer_resize { width: 100%; padding:0px 0 0;}

.footer a { color:#676767; }

.footer p { color:#676767; text-align:center; padding-top:25px; }







/*coments*/

#coment { overflow:hidden; margin:10px 0; padding-bottom:10px; }

#coment img { float:left; margin-right:20px; }

#coment h3 { margin:0; padding:0; }

#coment .podpis { float:left; margin:5px 0; width:75%; }

#coment .podpis a { margin-left:10px; }

#coment2 { overflow:hidden; margin:10px 0 00px 50px;  padding-bottom:10px; }

#coment2 img { float:left; margin-right:20px; }

#coment2 h3 { margin:0; padding:0; }

#coment2 .podpis { float:left; margin:5px 0; width:70%; }

#coment2 .podpis a { margin-left:10px; }

#coment3 { overflow:hidden; margin:10px 0 00px 100px;  padding-bottom:10px; }

#coment3 img { float:left; margin-right:20px; }

#coment3 h3 { margin:0; padding:0; }

#coment3 .podpis { float:left; margin:5px 0; width:66%; }

#coment3 .podpis a { margin-left:10px; }

#coment3 .lin { border-top:1px solid #c8c8c8; margin-top:20px; }





.pic img {/*padding:2px; background:#ffffff; border:1px solid #d5d5d5;*/}

.pic a:hover img {/*background:#ffde00;border:1px solid #ffde00; */ } 

.pic img.h {background:none;}

.pic img {margin-bottom:0px; max-width: 100%; height: auto; }

.pic a {margin-bottom:15px;}

.pic.fl { margin:5px 20px 10px 0; }

.pic.fr { margin:5px 0 20px 10px; }

/*

.btn { margin:2px 0 0;  padding:10px 0px 0; text-align:center; }

.btn a { font-size:14px; color:#f66a37; text-transform:uppercase; height:33px;  padding:10px 15px 10px; background:url(../images/btn_bg.png) repeat-x top center; border:1px solid #ececec; font-weight:normal; }

*/

.btn a span{color:#f66a37; font-size:12px; font-weight:normal; }













/*img_hover_box_r_plus*/

.img_hover_box.pic a img.r_plus_overlay { position: absolute; top: 0; left: 0; visibility:hidden;  border:none; width:100%; height:100%; padding:0; }

.img_hover_box.pic a:hover img.r_plus_overlay { visibility:visible; background:url(../images/overlay.png) repeat;}

.img_hover_box.pic a img.r_plus { position: absolute; top: 38%; left: 38%; visibility:hidden; background:none; border:none; }

.img_hover_box.pic a:hover img.r_plus { visibility:visible; }



/* gallery-categ */

.gallery-categ { margin:0; padding:0;}

.gallery-categ li { padding:0; float:left; border-right:1px solid #CCC;}

.gallery-categ li:last-child { border-right:0;}

.gallery-categ li a { font-weight:bold; display:block; padding:5px 10px;}

.gallery-categ li.active a { text-decoration:underline;}



/*4cols_gallery*/

.col44 { width:194px; float:left; padding:0; margin:0 25px; position:relative; top:0px; margin-top:50px; padding-bottom:40px;}

.col44 h3 { position:relative; bottom:0px; margin-bottom:0px;}

.col44 a img { margin-top:0px;}

.col44.last { float:right; margin:0; margin-right:0px;}

.col44.invisible-box { display: none; opacity: 0;  z-index: 1;}



/*detail a*/

.detail a,a.detail {color:#c0c0c0; font-size:12px; text-align:left; font-weight:normal;}

.detail a:hover,a.detail:hover {color:#f66a37;}



/*note*/

.note {margin:0px auto; padding:20px 0;  background:#f3f3f3; width:100%; }

.note p {margin:0 auto; width:85%; font-style:italic; font-weight:normal; padding:5px 15px 0px 50px; background:url(../images/quote.png) no-repeat left top; color:#8a8a8a; font-size:14px; }

.note span { text-align:right; font-size:12px; display:block; border-top:1px solid #dcdcdc; color:#757575; font-style:italic; font-size:14px; margin-top:15px; padding-top:15px;}

.note a {color:#757575; font-style:italic; font-size:14px;}



/* search */

.search { margin:22px 0 0 0; float:right; padding:00px 0 0 0; height:32px; }

.search form { margin:0; padding:0; width:auto; }

.search span { display:block; margin:0; padding:0; float:left; background:url(../images/search_bg.png) no-repeat left top; }

.search input.editbox_search { margin:0; padding:6px 10px 6px; float:left; width:144px; height:22px; font-size:12px; line-height:16px; color:#a1a1a1; background:none; border:none; }

.search input.button_search { margin:0; padding:0; border:none; float:left; }









.border_block {border:1px solid #eaeaea;}

.border_top_block {border-top:1px solid #eaeaea;}

.border_bottom_block {border-bottom:1px solid #eaeaea;}

.border_left_block {border-left:1px solid #eaeaea;}

.border_right_block {border-right:1px solid #eaeaea;}

.border_none_block {border:none;}

.menu select { display: none; font-size: 16px; height:35px; margin-top:20px; padding: 5px 0 5px 0; letter-spacing:1px; }

.tinynav { width: 100%; height: 30px; padding: 2px 0px 2px 0px ; color: #000; font-size:20px; }

#slider-wrapper object { width: 100%; }



.one_third_pad img { max-width: 100%; height: auto; }

.one_half_pad img { max-width: 100%; height: auto; }

.two_third_pad img { max-width: 100%; height:auto; }

.dc_pricingtable03 li h2 { font-size:24px !important;}

.dc_pricingtable03 li h2, .dc_pricingtable03 li h1, .dc_pricingtable03 li h1 span, .dc_pricingtable03 li h3 { color:#fff !important;}

.dc_pricingtable03 li h2.caption { color:#999 !important; font-size:28px !important;}

.dc_pricingtable06 ul li h3 { font-size:28px !important; color:#fff !important; line-height:180% !important;}

.dc_pricingtable05 ul li h3 { font-size:28px !important; line-height:250% !important;}

div.dc_pricingtable03 .align_center h2 { text-align: center !important; }

.column_1 li h1 span, .column_2 li h1 span, .column_3 li h1 span, .column_4 li h1 span { display:inline ; text-align:center;}

div.dc_pt3_style1 h3.col1, div.dc_pt3_style1 h3.col2, div.dc_pt3_style1 h3.col3, div.dc_pt3_style1 h3.col4 { text-align:center;}

.column_3 .col3 { float: none; width: 100%;}

.column_4 .col4 { float: none; width: 100%;}

div.dc_pricingtable03 div.caption_column li.header_row_2, div.dc_pricingtable03 div.column_1 li.header_row_2, div.dc_pricingtable03 div.column_2 li.header_row_2, div.dc_pricingtable03 div.column_3 li.header_row_2, div.dc_pricingtable03 div.column_4 li.header_row_2 { height: 130px !important; }

.dc_pricingtable05 ul li h3, .dc_pricingtable06 ul li h3 { text-align:center;}

/* */

.oneForth { margin:20px auto; float: left; width: 25%; }

.oneForth img { max-width: 100%; height: auto; }

.oneThird { margin: auto; width: 23%; }

.one_fourth_pad img { max-width: 100%; height: auto; }

.heading-clients { margin: 10px 0 10px 20px; }

.space { padding:0 3%; width: 94%; }

#ticker1 .tweet_list, #ticker1 .tweet_list .tweet_even { background:none; color: #949494; line-height:1.8em; }

.dc_pricingtable03 li h2 { font-size:24px !important;}

.dc_pricingtable03 li h2, .dc_pricingtable03 li h1, .dc_pricingtable03 li h1 span, .dc_pricingtable03 li h3 { color:#fff !important;}

.dc_pricingtable03 li h2.caption { color:#999 !important; font-size:28px !important;}

.dc_pricingtable06 ul li h3 { font-size:28px !important; color:#fff !important; line-height:180% !important;}

.dc_pricingtable05 ul li h3 { font-size:28px !important; line-height:250% !important;}

div.dc_pricingtable03 .align_center h2 { text-align: center !important; }
.last { clear: none !important; } 
